{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container">
    <div class="login-page">
        <div class="form">
            <form action="{{ path('app_login') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label class="form-label" for="form2Example1">Adresse Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <label class="form-label" for="form2Example2">Mot de passe</label>
                </div>

                <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Se connecter</button>
            </form>
        </div>
</div>

{% endblock %}
